  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <!--<img width="800" alt="Irrigazione Logo" src="assets/irrigation.jpg">-->
    <h2>Schedulazioni</h2>
    <div class="main">
  <div class="schedulazioni">
    <app-water-state-list (updateWaterState) = "updateWaterState($event)"></app-water-state-list>
  </div>
  <div class="schedulazioni-detail" *ngIf="waterStateSelected" >
    <app-water-state-detail [waterState] = "waterStateSelected"></app-water-state-detail>
  </div>
  </div>

  <div class="button-home">
  <ul>
    <li>
        <button type="button" class="btn btn-primary btn-lg"  on-click="impianto1()">Accendi/Spegni Impianto 1</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-lg" on-click="impianto2()">Accendi/Spegni Impianto 2</button>
    </li>
    <li>
        <button type="button" class="btn btn-primary btn-lg" on-click="timer()">Timer</button>
    </li>
  </ul>
  </div>
</div>


