.main {
    width: 50%;
    margin:auto;
    vertical-align: top;
}
.button-home {
    margin-top: 150px;
}


.button-home ul {
    list-style-type: none;
}

.button-home li {
    margin-bottom: 10px;

}

.button-home button {
    width: 80%;
    height: 45px;

    margin:0 auto;
    color: white;
    background: grey
} 

.button-home button:hover {
    background: white;
    color: black;
} 

.schedulazioni {
    float: left;
    width: 60%;
}

.schedulazioni-detail {
    float:left;
    width: 100;
}