td {
    padding: 10px;
    border:1px solid gray;
 
 }

 button.delete {
     color: #fff;
     background: red;
 }

 button.edit {
     color: #fff;
     background: blue;
 }

 button.update {
     color: #fff;
     background: blue;
 }