<td>{{waterState.impianto1}}</td>
<td>{{waterState.impianto2}}</td>
<td>{{waterState.dataInizio}}</td>
<td>{{waterState.orarioInizio}}</td>
<td>{{waterState.tempo}}</td>
<td><button class="update" (click)="updateSchedulazione()">Aggiorna</button></td>
<td><button class="delete" (click)="deleteSchedulazione()">Cancella</button></td>