<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Auto Irrigazione</title>
</head>
<body>

<p>Sensore pioggia</p>
     
     <p th:text="${stato}"></p>
     
    
     
     
     
   </body>
</html>