<form>
  <div class="form-group">
    <label for="impianto1">Imposta stato Impianto1: </label>
    <input type="radio" name="impianto1" id="impianto1" value="1" checked>Acceso<br>
    <input type="radio" name="impianto1" id="impianto1" value="0" checked>Spento<br>
  </div>
  <div class="form-group">
      <label for="impianto2">Imposta stato Impianto2: </label>
      <input type="radio" name="impianto2" id="impianto2" value="1" checked>Acceso<br>
      <input type="radio" name="impianto2" id="impianto2" value="0" checked>Spento<br>
    </div>
    <div class="form-group">
        <label for="dataInizio">Data inizio intervento</label>
        <input type="date" [(ngModel)]="waterState.dataInizio" name="dataInizio" id="dataInizio">
    </div>
    <div class="form-group">
        <label for="orarioInizio">Ora inizio intervento</label>
        <input type="time" [(ngModel)]="waterState.orarioInizio" name="orarioInizio" id="orarioInizio">
    </div>
    <div class="form-group">
        <label for="tempo">Tempo di intervento</label>
        <input name="tempo" [(ngModel)]="waterState.tempo" id="tempo">
    </div>
    <div class="form-group form-footer">
        <button class="btn-save">Save</button>
    </div>

</form>
