<table>
  <tr>
  <th>
    <h3>Impianto1</h3>
  </th>
  <th>
    <h3>Impianto2</h3>
  </th>
  <th>
    <h3>dataInizio</h3>
  </th>
  <th>
    <h3>orarioInizio</h3>
  </th>
  <th>
    <h3>Tempo intervento</h3>
  </th>
  <th>Azione</th>
  <th>Cancella</th>
</tr>
  <tr app-water-state *ngFor="let waterState of waterStateList" [waterStateInput] = "waterState" (onDeleteWaterState) = "onDeleteWaterState($event)" (onSelectWaterState) = "onSelectWaterState($event)">
    <!--passo l'oggetto presente in waterStateList alla variabile [waterState] che rappresenta il mio oggetto waterState-->
    
   
  </tr>

</table>
