<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Auto Irrigazione</title>
</head>
<body>
      <h1>Auto Irrigazione</h1>
      

     <a href="impianto1">Impianto 1</a><p></p>
     <a href="impianto2">Impianto 2</a><p></p>
     <p></p>
     <a href="timer">Imposta timer</a><p></p>
     
     <ul>
     <li th:switch="${interruttore1}">
    		<span th:case="0" th:text="'Impianto1: Spento'" /> 
    		<span th:case="1" th:text="'Impianto1: Acceso'" />
	</li>
     <li th:switch="${interruttore2}">
    		<span th:case="0" th:text="'Impianto2: Spento'" /> 
    		<span th:case="1" th:text="'Impianto2: Acceso'" />
	</li>
    </ul>
     
     
     
   </body>
</html>