<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Impostazioni</title>
</head>
<body>
  
  <form th:action="@{/temp}" th:object="${waterstate}" method="post">
  
  
    <p>Impianto 1 <select th:field="*{impianto1}">
                         <option value="0" label="No"></option>
                         <option value="1" label="Si"></option>
                  </select></p>
    
	<p>Impianto 2 <select th:field="*{impianto2}">
                         <option value="0" label="No"></option>
                         <option value="1" label="Si"></option>
                  </select></p>
	
	<p>Data Inizio <input type="date" th:field="*{dataInizio}" /></p>
	<p>Orario Inizio <input type="time" th:field="*{orarioInizio}" /></p>
	
	<p>Ripetizione Giornaliera  
				<select th:field="*{repeat}">
                         <option value="Si" label="Si"></option>
                         <option value="No" label="No"></option>
                  </select></p>
	
	<p>Tempo di esercizio(in minuti): <input type="text" th:field="*{tempo}" /></p>
    <p><input type="submit" value="Invia" /> 
    <input type="reset" value="Reset" /></p>

	<h2 style="color:red;"><span th:text="${errore}" /></h2>
    </form>
    
</body>
</html>
